/* Loading animation */
.loading {
	display: none;
	touch-action: none;
	position: absolute;
	z-index: 1000;
	&.visible {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 1000;
		bottom: 0;
		width: 60px;
		height: 60px;
		left: 0rem;
		scale: 0.5;
		& > img {
			width: 60px;
			height: 60px;
			object-fit: contain;
		}
	}
}

/* Glitch animation */
.glitch {
	background-image: linear-gradient(transparent, transparent 90%, rgba(255, 255, 255, 0.1)),
		linear-gradient(transparent, transparent 95%, rgba(255, 255, 255, 0.05));
	background-size: 2px 100px;
	animation: glitch 0.4s linear infinite;
	opacity: 0.2;
}

@keyframes glitch {
	from {
		background-position: 0 -100px, 10px -120px;
	}
	to {
		background-position: 0 100%, 10px 80%;
	}
}
